.card {
    margin: 5px;
    max-width: 500px;
    overflow-wrap: break-word;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 10px;
}

.content {
    text-align: start;
    margin-left: 10px;
    font-size: 18px;
}